body {
    background-color: #070707;
    color: white;
}

h1 {
    font-size: 50px;
}

h1, h2, p {
    text-align: center;
    margin: 0;
}

h2 {
    font-style: italic;   
}

p {
    font-size: 30px;
}

.image {
    display: block;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 2px;
    width: 450px;
    
}